tr {
    border: 1px solid black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 10px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 3px;
}

tr:nth-child(even) {
    background-color: white;
}

input {
    margin-left: 10px;
}

#restaurants-table, #restaurants-table>tbody>tr, #restaurants-table>tbody>tr>td {
    border: 1px solid black;
    padding: 5px;
}